{% extends 'base.html' %}
{% block content %}

<head>
    <Style>

    </Style>
</head>

<body>
    <div class="container">
        <h1>티켓양도</h1>
        <a href="{% url 'ticket:ticket_new' %}" id="go_new">WRITE</a>

        <div class="body">
            {% for content in posts %}
            <div class="content">
                <h2>{{content.ticket}}</h2>
                
                {% if content.image %}
                    <p class = "image"><img src="{{content.image_thumbnail.url}}" height="200" width="400"></p>
                {% endif %}
                
                <div class="sub">
                    <b>{{content.ticket}}</b><br>
                    by. {{content.writer}}<br>
                    <br>{{content.summary | linebreaks}}

                    <a id="more" href="{% url 'ticket:ticket_detail' content.id %}"> 자세히보기</a>
                </div>
            </div>
            {% endfor %}

            <div class="footer">
                {% if posts.has_previous %}
                <a href="?page=1">1</a>
                <a href="?page={{posts.previous_page_number}}">◀</a>
                {% endif %}

                <span>{{posts.number}}</span>
                <span>of</span>
                <span>{{posts.paginator.num_pages}}</span>

                {%if posts.has_next%}
                <a href="?page={{posts.next_page_number}}">▶</a>
                <a href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}}</a>
                {% endif %}
            </div>

        </div>
    </div>
</body>
{% endblock %}