{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div>
    <!-- <form action="{%url 'review:allreviews'%}" method="POST">
        {%csrf_token%}
        {{sortForm | crispy}}
        <button type="submit"> submit </button>
    </form> -->
    <form action="" method="POST">
        {%csrf_token%}
        {{allSortForm | crispy}}
        <button type="reset">초기화</button>
        <button type="submit">검색</button>
    </form>
</div>

<div>
    {%for review in reviewAll %}
        <table>
            <tr>
                <td>{{review.author}}</td>
                <td colspan="2">{{review.title}}</td>
                <td rowspan="4">{{review.body}}</td>
            </tr>
            <tr>
                <td>관람일시</td>
                <td class="view_date">{{review.view_date | date:"Y-m-d"}}</td>
                <td class="view_time">{{review.view_time}}</td>
            </tr>
            <tr>
                <td>배우</td>
                <td>{{review.cast1}}, {{review.cast2}}</td>
            </tr>
            <tr>
                <td>만족도</td>
                <td>{{review.rating}}</td>
            </tr>
        </table>
    {%endfor%}
</div>
{%endblock%}