{% extends 'base.html' %}
{% block content %}
<style>
    table, tr, td {
        border: 1px solid black;
    }
    .show-table {
        height: 50%; 
        background-color: rgb(231, 255, 95);
        color: black;
    }
    .show-table a {
        text-decoration: none;
        background-color: rgb(231, 255, 95);
        color: black;
    }
    .show-table a:hover{
        text-decoration: underline;
    }
    img {
        height: 150px;
        width: 100px;
    }
    .showList-wrapper {
        margin: 0 auto;
        text-align: center;
    }
    .allreview-box a{
        color: black;
        background-color: rgb(231, 255, 95);
        padding: 5px;
        margin: 10px;
    }
</style>

<div>
    <form action="{%url 'review:search' %}" method="GET">
        <!-- {%csrf_token%} -->
        <input type="search" name="title" placeholder="찾고싶은 뮤지컬/연극의 제목을 입력하세요">
        <button type="submit">검색</button>
    </form>
</div>

<div class="showList-wrapper">
    {% for show in showList %}
    
        <table class="show-table">
            <tr>
                <td rowspan="4"><img src="{{show.poster}}"></td>
                <td>{{show.prfstate}}</td>
            </tr>
            <tr>
                <td><a href="{%url 'review:detail' show.mt20id %}">{{show.prfnm}}</a></td>
            </tr>
            <tr>
                <td>{{show.genrenm}}</td>
            </tr>
            <tr>
                <td>{{show.prfpdfrom}}~{{show.prfpdto}}</td>
            </tr>
        </table>
    
    {%endfor%}

    
    <a href="?page=1&title={{title}}" class="a-button">처음</a>
    {% if page != '1' %}
    <a href="?page={{page|add:'-1'}}&title={{title}}">&#9194;</a>
    {% endif %}
    <!-- 현재 페이지 -->
    <span>{{page}}</span>
    
    <a href="?page={{page|add:'1'}}&title={{title}}">&#9193;</a>

</div>

<div class="allreview-box">
    <a href="{%url 'review:allreviews'%}">후기 모아보기</a>
</div>

{%endblock%}