{% extends 'base.html' %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        form {
            max-width: 100%;
        }
        #id_body {
            max-width: 100%;
        }
    </style>
</head>
<br>
<h1>새로운 메세지를 작성해보세요!</h1>
<br>
<br>
<form action="{%url 'messenger:new_static' receiver%}" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <p style="font-size: large;">receiver: {{receiver}}</p>
    {{chatform.as_p}}
    <br>
    <button type="submit">보내기</button>
</form>
<br><br>
{% endblock %}